@import url('https://fonts.googleapis.com/css?family=Roboto');
:root {
    --body-bg-color:#333333;
    --main-bg-color:#222222;
    --text-color:white;
}

body {
    margin:0;
    padding:0;
    background-color:var(--body-bg-color);
    font-family:Roboto;
}

header h1, footer nav, p {
    text-align:center;
    color:var(--text-color);
}

header {
    border-bottom:solid black 1px;
    background:linear-gradient(var(--body-bg-color),black);
}

a {
    text-decoration:none;
    color:inherit;
}

nav {
    display:flex;
    justify-content:center;
    color:var(--text-color);
}

nav ul {
    display:flex;
}

nav ul li {
    display:flex;
    margin-left:1vw;
    margin-right:1vw;
    border-bottom:solid var(--main-bg-color) 2px;
    padding:1vh 0.5vw;
}

nav ul li:hover {
    border-bottom-color:#dd5555;
    transition:250ms;
}

.product {
    background-color:#eeeeff;
    display:inline-block;
    margin:2vh 2vw;
    padding:2vh 2vw;
    max-width:25vw;
}

.product h2 {
    text-align:center;
}

.product img {
    display:flex;
    max-height:60vh;
    margin:auto;
    max-width:25vw;
}

.product p {
    color:inherit;
}

.product form {
    display:inline-flex;
    justify-content:right;
}

.product input[type=submit] {
    background-color:#ff5555;
    color:var(--text-color);
    padding:0.25vh 0.25vw;
    border-radius:15px;
    margin-left:2vw;
    padding:1vh 1vw;
    font-size:0.85em;
    transition:500ms ease-out;
}

.product input[type=submit]:hover {
    cursor:pointer;
    transform:scale(1.05);
    color:var(--text-color);
}

fieldset {
    display:flex;
    flex-direction: column;
    text-align: left;
    background-color:var(--body-bg-color);
    border:none;
    color:var(--text-color);
    margin-left:1vw;
    margin-right:1vw;
}

fieldset legend {
    background-color:#eeeeff;
    border-width:1px;
    border-color:black;
    color:black;
}

fieldset label,fieldset input {
    margin:1vh;
}

fieldset input[type=submit] {
    color:var(--text-color);
    border:none;
    background-color:initial;
    margin:auto;
    padding:0.5vh 1vw;
    font-size:1em;
}

footer {
    border-top:solid 1px var(--body-bg-color);
    padding:1vh 1vw;
    background:linear-gradient(var(--body-bg-color),var(--main-bg-color));
}

footer p a {
    color:#ffff80;
}

p a {
    color:#b3ffb3;
}

p a:hover {
    color:#ffff80;
    transition:250ms ease-out;
}

input[type=submit]:hover, footer p a:hover {
    cursor:pointer;
    color:#b3ffb3;
    transition:250ms ease-out;
}

.italic {
    font-style:italic;
}

.bold {
    font-weight:bold;
}

.underlined {
    text-decoration:underline;
}

aside {
    display:flex;
    position:sticky;
    float:right;
    flex-direction:column;
    background-color:var(--text-color);
    padding:1vh 2vw;
    border:solid 1px black;
    max-width:12.5vw;
}

aside h2 {
    margin:0;
}

aside ul {
    margin:1vh 1vw;
    padding:0;
}

aside p {
    color:inherit;
}

aside a {
    display:flex;
    justify-content:center;
    border:solid 1px;
}

#bill {
    display:table;
    background-color:white;
    margin:auto;
    padding:2vh 2vw;
}

#bill h2 {
    text-align:center;
}

#bill p {
    color:inherit;
    text-align:left;
    margin-left:2vw;
}

#bill details {
    border:solid 1px;
}

#bill details summary {
    text-decoration-line:underline;
}

#bill table {
    border-collapse:collapse;
}

#bill table th {
    border:solid 1px black;
    padding:1vh 1vw;
}

.button {
    display:table;
    margin:auto;
    background:radial-gradient(#11ff11,green);
    color:var(--text-color);
    text-shadow:1px 1px black;
    padding:1vh 1vw;
    margin-top:2vh;
    border-radius:5px;
    transition:500ms ease-out;
}

.button:hover {
    transform:scale(1.10);
}

button {
    display:table;
    margin:auto;
    margin-top:2vh;
}

button:hover {
    cursor: pointer;
}

select {
    background-color:var(--main-bg-color);
    color:var(--text-color);
    text-shadow:1px 1px black;
    border-color:green;
    margin-left:2vw;
}
