
header h1, footer p {
    text-align:center;
}

nav {
    display:flex;
    justify-content:center;
}

nav ul {
    display:flex;
}

nav ul li {
    display:flex;
    margin-left:5vw;
    margin-right:5vw;
}
/*
fieldset input {

}
*/