@import url('https://fonts.googleapis.com/css?family=Roboto');
body {
    /*background-color:#FFFF80;*/
    background-color:#eeeeee;
    margin:0;
    padding:0;
    background-color:#333333;
    font-family: Roboto;
}

header h1, footer nav, p {
    text-align:center;
    color:white;
}

header {
    border-bottom: solid black 1px;
    background:linear-gradient(#333333,black);
}

a {
    text-decoration:none;
    color:inherit;
}

nav {
    display:flex;
    justify-content:center;
    color:white;
}

nav ul {
    display:flex;
}

nav ul li {
    display:flex;
    margin-left:1vw;
    margin-right:1vw;
    /*background-color:#222222;*/
    border-bottom: solid #222222 2px;
    padding:1vh 0.5vw;
}

nav ul li:hover {
    /*background-color:#dd5555;*/
    border-bottom-color:#dd5555;
    transition:250ms;
}

fieldset {
    display:flex;
    flex-direction: column;
    text-align: left;
    background-color:#333333;
    border:none;
    color:white;
    margin-left:1vw;
    margin-right:1vw;
}

fieldset legend {
    background-color:#eeeeff;
    border-width:1px;
    border-color:black;
    color:black;
}
fieldset label,fieldset input {
    margin:1vh;
}

fieldset input[type=submit] {
    color:white;
    border:none;
    background-color:#666666;
    padding:0.5vh;
}

input[type=submit]:hover {
    cursor:pointer;
    /* TODO Ajouter une animation qui agrandit le bouton */
    background-color:#333333;
    color:#999999;
    transition:1s ease-out;
}
